## Importing Libraries

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [8]:
from sklearn.metrics import accuracy_score

### Importing the dataset

In [4]:
df = pd.read_csv("creditcard.csv")
display(df.shape)
df.head()

#legit transaction -> class=0
#fraudulent transaction -> class=1

(284807, 31)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [5]:
df.info()  # to check the presence of null cells and datatype of various columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [6]:
df.describe()  # to get an idea about the columns in general which will be useful later

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
count,284807.000000,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,...,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,284807.000000,284807.000000
mean,94813.859575,3.918649e-15,5.682686e-16,-8.761736e-15,2.811118e-15,-1.552103e-15,2.040130e-15,-1.698953e-15,-1.893285e-16,-3.147640e-15,...,1.473120e-16,8.042109e-16,5.282512e-16,4.456271e-15,1.426896e-15,1.701640e-15,-3.662252e-16,-1.217809e-16,88.349619,0.001727
std,47488.145955,1.958696e+00,1.651309e+00,1.516255e+00,1.415869e+00,1.380247e+00,1.332271e+00,1.237094e+00,1.194353e+00,1.098632e+00,...,7.345240e-01,7.257016e-01,6.244603e-01,6.056471e-01,5.212781e-01,4.822270e-01,4.036325e-01,3.300833e-01,250.120109,0.041527
min,0.000000,-5.640751e+01,-7.271573e+01,-4.832559e+01,-5.683171e+00,-1.137433e+02,-2.616051e+01,-4.355724e+01,-7.321672e+01,-1.343407e+01,...,-3.483038e+01,-1.093314e+01,-4.480774e+01,-2.836627e+00,-1.029540e+01,-2.604551e+00,-2.256568e+01,-1.543008e+01,0.000000,0.000000
25%,54201.500000,-9.203734e-01,-5.985499e-01,-8.903648e-01,-8.486401e-01,-6.915971e-01,-7.682956e-01,-5.540759e-01,-2.086297e-01,-6.430976e-01,...,-2.283949e-01,-5.423504e-01,-1.618463e-01,-3.545861e-01,-3.171451e-01,-3.269839e-01,-7.083953e-02,-5.295979e-02,5.600000,0.000000
50%,84692.000000,1.810880e-02,6.548556e-02,1.798463e-01,-1.984653e-02,-5.433583e-02,-2.741871e-01,4.010308e-02,2.235804e-02,-5.142873e-02,...,-2.945017e-02,6.781943e-03,-1.119293e-02,4.097606e-02,1.659350e-02,-5.213911e-02,1.342146e-03,1.124383e-02,22.000000,0.000000
75%,139320.500000,1.315642e+00,8.037239e-01,1.027196e+00,7.433413e-01,6.119264e-01,3.985649e-01,5.704361e-01,3.273459e-01,5.971390e-01,...,1.863772e-01,5.285536e-01,1.476421e-01,4.395266e-01,3.507156e-01,2.409522e-01,9.104512e-02,7.827995e-02,77.165000,0.000000
max,172792.000000,2.454930e+00,2.205773e+01,9.382558e+00,1.687534e+01,3.480167e+01,7.330163e+01,1.205895e+02,2.000721e+01,1.559499e+01,...,2.720284e+01,1.050309e+01,2.252841e+01,4.584549e+00,7.519589e+00,3.517346e+00,3.161220e+01,3.384781e+01,25691.160000,1.000000

In [18]:
df["Class"].value_counts()

0    284315
1       492
Name: Class, dtype: int64

#### as you can see above the data is highly unbalanced, which is expected as most transactions would be legit (Class-->0)

### Creating separate dataframes for analysis

In [21]:
legit_transactions = df[df["Class"] == 0]
fraudulent_transactions = df[df["Class"] == 1]

display(legit_transactions.head())
display(legit_transactions.shape)
display(fraudulent_transactions.head())
fraudulent_transactions.shape

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

(284315, 31)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
541,406.0,-2.312227,1.951992,-1.609851,3.997906,-0.522188,-1.426545,-2.537387,1.391657,-2.770089,...,0.517232,-0.035049,-0.465211,0.320198,0.044519,0.177840,0.261145,-0.143276,0.00,1
623,472.0,-3.043541,-3.157307,1.088463,2.288644,1.359805,-1.064823,0.325574,-0.067794,-0.270953,...,0.661696,0.435477,1.375966,-0.293803,0.279798,-0.145362,-0.252773,0.035764,529.00,1
4920,4462.0,-2.303350,1.759247,-0.359745,2.330243,-0.821628,-0.075788,0.562320,-0.399147,-0.238253,...,-0.294166,-0.932391,0.172726,-0.087330,-0.156114,-0.542628,0.039566,-0.153029,239.93,1
6108,6986.0,-4.397974,1.358367,-2.592844,2.679787,-1.128131,-1.706536,-3.496197,-0.248778,-0.247768,...,0.573574,0.176968,-0.436207,-0.053502,0.252405,-0.657488,-0.827136,0.849573,59.00,1
6329,7519.0,1.234235,3.019740,-4.304597,4.732795,3.624201,-1.357746,1.713445,-0.496358,-1.282858,...,-0.379068,-0.704181,-0.656805,-1.632653,1.488901,0.566797,-0.010016,0.146793,1.00,1

(492, 31)

In [24]:
# Comparing legit and fraudulent transaction amounts

display(legit_transactions["Amount"].describe())
fraudulent_transactions["Amount"].describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

### **Applying Under Sampling method to create a subset of legit_transactions so that we could build a balanced dataframe for machine learning

In [25]:
# taking a random sample from legit_transactions

legit_sample = legit_transactions.sample(n=492)

In [27]:
# concatinating the fraudulent_transactions and legit_sample to build final dataframe for machine learning

balanced_credit_card_data = pd.concat([legit_sample, fraudulent_transactions], axis=0)  # axis=0 means add row-wise
display(balanced_credit_card_data.head())
balanced_credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
10326,16404.0,-4.661312,-3.612415,1.248848,0.091927,0.017944,-0.276657,0.684511,-0.392644,2.257315,...,-0.953629,0.002173,0.903943,0.120607,0.286707,0.921362,0.856258,0.055521,500.00,0
266503,162358.0,-0.322390,-0.119116,0.680160,-2.380159,0.338305,-0.600237,0.429420,-0.076092,-1.113340,...,-0.144287,-0.747652,0.270675,0.400418,-0.690411,-0.866236,0.115481,0.188417,48.65,0
145329,86835.0,1.894788,-1.140109,-1.667276,-0.394212,1.397170,4.073594,-1.366127,1.034530,-0.300573,...,-0.486114,-1.094683,0.420480,0.589173,-0.476332,-0.925840,0.088806,-0.012209,85.00,0
179140,123942.0,-0.157324,0.150652,0.369318,-1.446473,0.198565,-0.896525,0.677021,-0.044251,0.401031,...,0.249923,0.831445,-0.091351,0.151385,-0.743084,0.839403,0.114886,0.190153,23.00,0
157147,109596.0,-0.791451,1.074812,1.735788,3.593921,0.594050,0.937157,1.310916,0.001771,-0.248600,...,-0.333085,-0.789700,0.290149,1.049680,0.011026,-0.274006,0.035457,0.153103,154.99,0

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [28]:
balanced_credit_card_data["Class"].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [30]:
# Comparing the mean values of balanced_credit_card_data and original credit card data

display(balanced_credit_card_data.groupby("Class").mean())
df.groupby("Class").mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,95535.841463,0.052385,0.046776,-0.056829,-0.014448,0.048098,0.043995,-0.009248,0.016034,0.032441,...,0.047040,-0.033421,-0.011686,-0.040230,0.065328,-0.011478,0.000118,0.004297,0.021140,89.701504
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

#### as you can see above the balanced_credit_card_data is quite similar to the original dataset, therefore, it could be used for training our machine learning model

## Building machine learning model

In [33]:
#splitting the data into features and target

X = balanced_credit_card_data.drop(columns="Class")
y= balanced_credit_card_data["Class"]

display(X.head())
y

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
10326,16404.0,-4.661312,-3.612415,1.248848,0.091927,0.017944,-0.276657,0.684511,-0.392644,2.257315,...,-2.021983,-0.953629,0.002173,0.903943,0.120607,0.286707,0.921362,0.856258,0.055521,500.00
266503,162358.0,-0.322390,-0.119116,0.680160,-2.380159,0.338305,-0.600237,0.429420,-0.076092,-1.113340,...,0.146594,-0.144287,-0.747652,0.270675,0.400418,-0.690411,-0.866236,0.115481,0.188417,48.65
145329,86835.0,1.894788,-1.140109,-1.667276,-0.394212,1.397170,4.073594,-1.366127,1.034530,-0.300573,...,-0.423201,-0.486114,-1.094683,0.420480,0.589173,-0.476332,-0.925840,0.088806,-0.012209,85.00
179140,123942.0,-0.157324,0.150652,0.369318,-1.446473,0.198565,-0.896525,0.677021,-0.044251,0.401031,...,-0.155717,0.249923,0.831445,-0.091351,0.151385,-0.743084,0.839403,0.114886,0.190153,23.00
157147,109596.0,-0.791451,1.074812,1.735788,3.593921,0.594050,0.937157,1.310916,0.001771,-0.248600,...,0.221543,-0.333085,-0.789700,0.290149,1.049680,0.011026,-0.274006,0.035457,0.153103,154.99

10326     0
266503    0
145329    0
179140    0
157147    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

#### splitting the data into testing and training datasets

In [37]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=2)
# stratify=True in order to split the data evenly b/w the two classes, random_state=2 to reproduce the code

In [39]:
print(X_train.shape, X_test.shape)

(787, 30) (197, 30)

#### importing Logistic regression model for training our data

In [40]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()
model.fit(X_train,y_train)

LogisticRegression()

#### checking the accuracy of our model

In [44]:
from sklearn.metrics import accuracy_score

In [45]:
# accuracy score of training data

X_train_predictions = model.predict(X_train)
train_accuracy = accuracy_score(X_train_predictions, y_train)
train_accuracy

0.9135959339263025

In [46]:
# accuracy score of testing data

X_test_predictions = model.predict(X_test)
test_accuracy = accuracy_score(X_test_predictions, y_test)
test_accuracy

0.9137055837563451

In [47]:
# both the accuracy scores are compared in order to check for model overfitting or underfitting